html {
	background-color:#000;
}
@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600;
}

@tailwind components;
@tailwind utilities;

@media screen and (max-width:560px) {
	.hero {
		background-position: -90%;
	}
}

@media screen and (min-width:560px) and (max-width:640px) {
	.hero {
		background-position: -130%;
	}
}

@media screen and (min-width:640px) and (max-width:800px) {
	.hero {
		background-position: -180%;
	}
}

.iframe-fit iframe {
	max-width:100%;
}

@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap&family=Raleway:wght@100;200;300;400;700');
@import url("https://use.typekit.net/atu8bcp.css");